body {
  background-color: #ecf0f1; }

article {
  padding-bottom: 5vh;
  margin-bottom: 5vh;
  border-bottom: 3px solid #9E9E9E; }
  article:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none; }

#isrp-ll-loader {
  font-family: "Vidaloka-Regular", serif;
  font-size: 1.25vw;
  font-weight: normal;
  margin: 1vw auto;
  color: #111; }

.invisible-anchor {
  text-decoration: none;
  outline: 0; }

.page-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: 0; }

.main-menu {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  background: #000;
  padding: 5vh;
  vertical-align: top;
  transform: translateZ(0); }
  .main-menu .upper-context,
  .main-menu .lower-context {
    display: block;
    position: relative;
    width: 100%; }
  .main-menu .site-header {
    font-family: "Vidaloka-Regular", serif;
    font-size: 2.4vw;
    font-weight: normal;
    color: #fff;
    text-align: left;
    margin: 0;
    line-height: 125%; }
  .main-menu .items {
    display: block;
    position: relative;
    text-align: left;
    width: 100%;
    padding-top: 40px; }
    .main-menu .items .menu-item {
      display: block;
      font-family: "Vidaloka-Regular", serif;
      text-transform: capitalize;
      text-align: left;
      text-decoration: none;
      font-size: 2vw;
      font-weight: normal;
      color: #fff;
      margin-bottom: 20px;
      outline: 0; }
      .main-menu .items .menu-item:hover .color {
        border-radius: 50%; }
      .main-menu .items .menu-item:hover .label {
        color: #fff; }
      .main-menu .items .menu-item .color {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        width: 1.85vw;
        height: 1.85vw;
        border-radius: 25%;
        margin-right: 0.5vw;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
        .main-menu .items .menu-item .color i {
          font-size: 1vw; }
      .main-menu .items .menu-item .label {
        display: inline-block;
        vertical-align: middle;
        color: #9E9E9E;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
  .main-menu footer {
    display: block; }
    .main-menu footer .site-info {
      display: block;
      width: 100%;
      font-family: "Vidaloka-Regular", serif;
      font-size: 1.25vw;
      font-weight: normal;
      color: #9E9E9E;
      text-align: center; }
      .main-menu footer .site-info p {
        margin: 0 auto 0.5vw; }
        .main-menu footer .site-info p:last-of-type {
          margin-bottom: 0; }

.content-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 80%;
  padding: 5vh;
  margin-left: 20%; }
  .content-container .search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5vh;
    position: relative;
    z-index: 99; }
    .content-container .search-container .search-box {
      display: inline-flex;
      vertical-align: middle;
      width: 50%;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      position: relative; }
      .content-container .search-container .search-box i {
        display: inline-flex;
        vertical-align: middle;
        font-size: 1vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #9E9E9E; }
      .content-container .search-container .search-box input {
        display: block;
        width: 100%;
        background: none;
        border: none;
        border-radius: 0;
        outline: 0;
        font-family: "Vidaloka-Regular", serif;
        font-size: 1.5vw;
        font-weight: normal;
        color: #000;
        padding: 0;
        padding-left: 15px;
        line-height: 125%; }
        .content-container .search-container .search-box input::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #000;
          opacity: 1;
          /* Firefox */ }
        .content-container .search-container .search-box input:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: #000; }
        .content-container .search-container .search-box input::-ms-input-placeholder {
          /* Microsoft Edge */
          color: #000; }
      .content-container .search-container .search-box .search-results {
        display: block;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background: #ecf0f1;
        padding-left: calc(15px + 1vw);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        overflow: hidden;
        -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25); }
        .content-container .search-container .search-box .search-results .search-result {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          text-decoration: none;
          outline: 0;
          color: #111;
          padding: 0.5vw 0.5vw 0.5vw 0;
          border-bottom: 2px solid #9E9E9E;
          -webkit-transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out; }
          .content-container .search-container .search-box .search-results .search-result:last-of-type {
            border-bottom: none; }
            .content-container .search-container .search-box .search-results .search-result:last-of-type:hover {
              border: none; }
          .content-container .search-container .search-box .search-results .search-result:hover {
            border-bottom: 2px solid #2196f3; }
          .content-container .search-container .search-box .search-results .search-result .title {
            display: inline-block;
            font-family: "Vidaloka-Regular", serif;
            font-size: 1.25vw;
            font-weight: normal;
            width: calc(100% - 3vw); }
          .content-container .search-container .search-box .search-results .search-result .color {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            vertical-align: middle;
            width: 1.85vw;
            height: 1.85vw;
            border-radius: 25%;
            font-size: 1vw;
            color: #fff; }
    .content-container .search-container .logo-anchor {
      display: inline-block;
      vertical-align: middle;
      text-decoration: none;
      outline: 0; }
      .content-container .search-container .logo-anchor:hover img {
        border-radius: 100%; }
      .content-container .search-container .logo-anchor img {
        display: block;
        margin: 0 auto;
        width: 2vw;
        border-radius: 25%;
        min-width: 48px;
        max-width: 180px;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
  .content-container .intro-container {
    display: block;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center; }
    .content-container .intro-container .overlay {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 9;
      background: rgba(0, 0, 0, 0.7);
      border-radius: 10px; }
      .content-container .intro-container .overlay .avatar {
        display: block;
        width: 15vw;
        max-width: 600px;
        border-radius: 100%;
        margin: 0 auto 0.75vw; }
      .content-container .intro-container .overlay .name,
      .content-container .intro-container .overlay .quote {
        display: block;
        position: relative;
        font-family: "Vidaloka-Regular", serif;
        font-size: 2.5vw;
        font-weight: normal;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        line-height: 125%; }
      .content-container .intro-container .overlay .quote {
        margin-top: 0.25vw;
        padding-top: 0.25vw;
        border-top: 3px solid #9E9E9E; }
  .content-container .section {
    margin-bottom: 4vh; }
    .content-container .section:last-of-type {
      margin: 0; }
    .content-container .section h1,
    .content-container .section h2 {
      font-family: "Vidaloka-Regular", serif;
      font-weight: normal;
      font-size: 2vw;
      margin: 1vw auto 0.5vw;
      line-height: 125%;
      color: #111; }
      .content-container .section h1.section-title,
      .content-container .section h2.section-title {
        margin: 0 auto 0.5vw; }
    .content-container .section .invisible-anchor {
      text-decoration: none;
      outline: 0; }
  .content-container .text-content {
    display: block;
    color: #111; }
    .content-container .text-content h1,
    .content-container .text-content h2,
    .content-container .text-content h3,
    .content-container .text-content h4,
    .content-container .text-content h5,
    .content-container .text-content h6 {
      font-family: "Vidaloka-Regular", serif;
      font-weight: normal;
      margin: 1vw auto 0.5vw;
      line-height: 125%; }
    .content-container .text-content h1,
    .content-container .text-content h2 {
      font-size: 2vw; }
    .content-container .text-content h3 {
      font-size: 1.75vw; }
    .content-container .text-content h4 {
      font-size: 1.5vw; }
    .content-container .text-content h5,
    .content-container .text-content h6 {
      font-size: 1.35vw; }
    .content-container .text-content p {
      font-family: "OpenSans-Regular", sans-serif;
      font-size: 1.25vw;
      margin: 0 auto 1vw;
      line-height: 175%; }
      .content-container .text-content p:last-of-type {
        margin: 0 auto; }
    .content-container .text-content a {
      display: inline-block;
      vertical-align: baseline;
      color: #2196f3;
      text-decoration: none;
      font-size: 1.25vw; }
      .content-container .text-content a:hover {
        color: #2962FF; }
    .content-container .text-content img {
      display: block;
      margin: 0 auto 1vw;
      border-radius: 10px; }
    .content-container .text-content ol,
    .content-container .text-content ul {
      font-family: "OpenSans-Regular", sans-serif;
      font-size: 1.25vw;
      margin: 0 auto 1vw;
      padding: 0 1.5vw 0; }
    .content-container .text-content blockquote {
      font-family: "Vidaloka-Regular", serif;
      font-size: 1.5vw;
      font-weight: normal;
      margin: 0 auto 1vw;
      padding: 1vw 2vw;
      background: #BDBDBD;
      border-radius: 10px; }
      .content-container .text-content blockquote p {
        font-family: "Vidaloka-Regular", serif;
        font-size: 1.5vw;
        font-weight: normal; }
  .content-container .articles-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; }
    .content-container .articles-container .invisible-anchor {
      display: inline-block;
      width: 31%;
      color: #111; }
      .content-container .articles-container .invisible-anchor:hover .article-banner {
        -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
        transform: translateY(-2.5%) translateZ(0); }
    .content-container .articles-container .article-banner {
      display: block;
      margin: 0 auto 1vw;
      object-fit: cover;
      border-radius: 10px;
      width: 100%;
      height: 26vh;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      transform: translateY(0) translateZ(0);
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
    .content-container .articles-container .article-title {
      font-family: "Vidaloka-Regular", serif;
      font-weight: normal;
      font-size: 1.5vw;
      margin: 0 auto;
      line-height: 125%; }
  .content-container .projects-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; }
    .content-container .projects-container .invisible-anchor {
      display: inline-block;
      width: 23%;
      color: #111; }
      .content-container .projects-container .invisible-anchor:hover .project-banner {
        -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
        transform: translateY(-2.5%) translateZ(0); }
    .content-container .projects-container .project-banner {
      display: block;
      margin: 0 auto 1vw;
      object-fit: cover;
      border-radius: 100%;
      width: 80%;
      height: 12.256vw;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      transform: translateY(0) translateZ(0);
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
    .content-container .projects-container .project-title {
      font-family: "Vidaloka-Regular", serif;
      font-weight: normal;
      font-size: 1.25vw;
      margin: 0 auto;
      line-height: 125%;
      text-align: center; }
  .content-container .links .links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    .content-container .links .links-container .invisible-anchor {
      display: inline-flex;
      width: 23%;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      border: 2px solid #2d3436;
      border-radius: 100px;
      padding: 0.35vw 0.5vw;
      position: relative;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
      .content-container .links .links-container .invisible-anchor:hover {
        background: #E0E0E0; }
    .content-container .links .links-container .link-icon {
      display: inline-block;
      margin: 0;
      max-width: 42px; }
    .content-container .links .links-container .link-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      font-family: "Vidaloka-Regular", serif;
      font-size: 1.35vw;
      font-weight: normal;
      color: #111;
      margin: 0; }
  .content-container .posts-container,
  .content-container .projects-posts-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap; }
    .content-container .posts-container .article,
    .content-container .posts-container .project,
    .content-container .projects-posts-container .article,
    .content-container .projects-posts-container .project {
      display: inline-block;
      vertical-align: top;
      width: 48%;
      margin-bottom: 3vh; }
      .content-container .posts-container .article:hover .thumbnail,
      .content-container .posts-container .project:hover .thumbnail,
      .content-container .projects-posts-container .article:hover .thumbnail,
      .content-container .projects-posts-container .project:hover .thumbnail {
        -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
        transform: translateY(-2.5%) translateZ(0); }
      .content-container .posts-container .article.project,
      .content-container .posts-container .project.project,
      .content-container .projects-posts-container .article.project,
      .content-container .projects-posts-container .project.project {
        width: 23%;
        margin-bottom: 5vh; }
        .content-container .posts-container .article.project .thumbnail,
        .content-container .posts-container .project.project .thumbnail,
        .content-container .projects-posts-container .article.project .thumbnail,
        .content-container .projects-posts-container .project.project .thumbnail {
          border-radius: 100%;
          width: 80%;
          height: 14.096vw; }
        .content-container .posts-container .article.project .title,
        .content-container .posts-container .project.project .title,
        .content-container .projects-posts-container .article.project .title,
        .content-container .projects-posts-container .project.project .title {
          text-align: center; }
      .content-container .posts-container .article .invisible-anchor,
      .content-container .posts-container .project .invisible-anchor,
      .content-container .projects-posts-container .article .invisible-anchor,
      .content-container .projects-posts-container .project .invisible-anchor {
        display: block;
        color: #111; }
      .content-container .posts-container .article .date,
      .content-container .posts-container .project .date,
      .content-container .projects-posts-container .article .date,
      .content-container .projects-posts-container .project .date {
        display: block;
        font-family: "Vidaloka-Regular", serif;
        font-size: 1.25vw;
        margin-bottom: 1vw; }
      .content-container .posts-container .article .thumbnail,
      .content-container .posts-container .project .thumbnail,
      .content-container .projects-posts-container .article .thumbnail,
      .content-container .projects-posts-container .project .thumbnail {
        display: block;
        margin: 0 auto 1vw;
        object-fit: cover;
        border-radius: 10px;
        width: 100%;
        height: 40vh;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        transform: translateY(0) translateZ(0);
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
      .content-container .posts-container .article .title,
      .content-container .posts-container .project .title,
      .content-container .projects-posts-container .article .title,
      .content-container .projects-posts-container .project .title {
        font-family: "Vidaloka-Regular", serif;
        font-weight: normal;
        font-size: 1.5vw;
        margin: 0 auto 0.5vw;
        line-height: 125%; }
      .content-container .posts-container .article .content,
      .content-container .posts-container .project .content,
      .content-container .projects-posts-container .article .content,
      .content-container .projects-posts-container .project .content {
        font-family: "OpenSans-Regular", sans-serif;
        font-weight: normal;
        font-size: 1.25vw;
        color: #111; }
  .content-container .single-article-container .post-thumbnail-container {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 1vw; }
    .content-container .single-article-container .post-thumbnail-container .thumbnail {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 60vh;
      object-fit: cover;
      position: relative; }
    .content-container .single-article-container .post-thumbnail-container .overlay {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.7);
      padding: 4vh 5vh; }
      .content-container .single-article-container .post-thumbnail-container .overlay .post-header {
        display: block;
        margin: 0 auto 0.5vw;
        padding-bottom: 0.5vw;
        font-family: "Vidaloka-Regular", serif;
        font-weight: normal;
        font-size: 3vw;
        color: #fff;
        line-height: 125%;
        border-bottom: 3px solid #9E9E9E; }
      .content-container .single-article-container .post-thumbnail-container .overlay .date {
        display: block;
        margin: 0 auto;
        font-family: "Vidaloka-Regular", serif;
        font-weight: normal;
        font-size: 2vw;
        color: #fff;
        line-height: 125%; }
  .content-container .single-project-container .post-thumbnail-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vw; }
    .content-container .single-project-container .post-thumbnail-container .thumbnail {
      display: inline-block;
      width: 10vw;
      height: 10vw;
      border-radius: 100%; }
    .content-container .single-project-container .post-thumbnail-container .info {
      width: calc(100% - 12vw); }
      .content-container .single-project-container .post-thumbnail-container .info .post-header {
        font-family: "Vidaloka-Regular", serif;
        font-size: 3vw;
        font-weight: normal;
        color: #111;
        margin: 0 auto 1vw;
        padding-bottom: 1vw;
        line-height: 125%;
        border-bottom: 3px solid #9E9E9E; }
      .content-container .single-project-container .post-thumbnail-container .info .date {
        font-family: "Vidaloka-Regular", serif;
        font-size: 2vw;
        font-weight: normal;
        color: #111;
        margin: 0 auto;
        line-height: 125%; }
  .content-container .contactme-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap; }
    .content-container .contactme-container input[type="text"],
    .content-container .contactme-container input[type="email"] {
      display: inline-block;
      width: 49%;
      padding-top: 0 !important; }
    .content-container .contactme-container select {
      display: block;
      width: 100%;
      margin: 0 auto; }
    .content-container .contactme-container textarea {
      display: block;
      width: 100%;
      min-height: 35vh;
      margin: 0 auto;
      resize: vertical; }
    .content-container .contactme-container button {
      display: block;
      width: auto;
      margin: 1vw auto 0;
      background: none;
      border: 2px solid #2d3436;
      border-radius: 100px;
      box-shadow: none;
      outline: 0;
      text-align: center;
      padding: 1vw 2vw;
      cursor: pointer;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
      .content-container .contactme-container button:hover {
        background: #2196f3;
        color: #fff;
        border: 2px solid #2196f3; }
      .content-container .contactme-container button:disabled {
        cursor: default;
        background: none;
        color: #111;
        border: 2px solid #2d3436; }
    .content-container .contactme-container .message {
      display: block;
      width: 100%;
      margin: 1vw auto 0;
      text-align: center;
      font-family: "OpenSans-Regular", sans-serif;
      font-weight: normal;
      color: #2d3436;
      font-size: 0.85vw;
      line-height: 150%; }
    .content-container .contactme-container input[type="text"],
    .content-container .contactme-container input[type="email"],
    .content-container .contactme-container select,
    .content-container .contactme-container textarea,
    .content-container .contactme-container button {
      font-family: "Vidaloka-Regular", serif;
      font-size: 1.25vw;
      font-weight: normal;
      color: #111; }
    .content-container .contactme-container input[type="text"],
    .content-container .contactme-container input[type="email"],
    .content-container .contactme-container select,
    .content-container .contactme-container textarea {
      border: none;
      border-bottom: 2px solid #2d3436;
      background: none;
      border-radius: 0;
      line-height: 125%;
      outline: 0;
      padding: 1vw 0;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
      .content-container .contactme-container input[type="text"]::placeholder,
      .content-container .contactme-container input[type="email"]::placeholder,
      .content-container .contactme-container select::placeholder,
      .content-container .contactme-container textarea::placeholder {
        color: #111; }
      .content-container .contactme-container input[type="text"]:focus,
      .content-container .contactme-container input[type="email"]:focus,
      .content-container .contactme-container select:focus,
      .content-container .contactme-container textarea:focus {
        border-bottom: 2px solid #2196f3; }

/*# sourceMappingURL=desktop.css.map */
