.landscape article {
  padding-bottom: 2.75vw;
  margin-bottom: 3.75vw;
  border-bottom: 3px solid #9E9E9E; }
  .landscape article:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none; }
.landscape #isrp-ll-loader {
  font-family: "Vidaloka-Regular", serif;
  font-size: 2.5vw;
  font-weight: normal;
  margin: 1vw auto;
  color: #111; }
.landscape .main-menu-nav-line {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  transform: translateZ(0);
  z-index: 999;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: #000;
  padding: 0 5.5vw;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  .landscape .main-menu-nav-line #main-menu-nav-trigger {
    display: inline-block;
    background: none;
    border: none;
    border-radius: 0;
    position: relative;
    padding: 0;
    width: 4vw;
    outline: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
    .landscape .main-menu-nav-line #main-menu-nav-trigger.menu-in .bar:nth-of-type(2) {
      width: 80%; }
    .landscape .main-menu-nav-line #main-menu-nav-trigger.menu-in .bar:nth-of-type(3) {
      width: 60%; }
    .landscape .main-menu-nav-line #main-menu-nav-trigger .bar {
      display: block;
      width: 100%;
      background: #fff;
      height: 4px;
      margin-bottom: 5px;
      border-radius: 10px;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
      .landscape .main-menu-nav-line #main-menu-nav-trigger .bar:last-of-type {
        margin-bottom: 0; }
  .landscape .main-menu-nav-line .site-header {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 25vw);
    text-align: center;
    display: inline-block;
    font-family: "Vidaloka-Regular", serif;
    font-weight: normal;
    color: #fff;
    font-size: 4vw;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
.landscape .main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 15vh;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: calc(100% - 15vh);
  padding: 5.5vw;
  transform: translateX(0) translateZ(0);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  pointer-events: default;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .landscape .main-menu .upper-context {
    display: block;
    width: 100%;
    position: relative; }
    .landscape .main-menu .upper-context .items {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      position: relative; }
      .landscape .main-menu .upper-context .items .menu-item {
        display: flex;
        width: 49%;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        margin-bottom: 2.5vw; }
        .landscape .main-menu .upper-context .items .menu-item .color {
          display: inline-flex;
          width: 5vw;
          height: 5vw;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 2.5vw;
          margin-right: 2.5vw;
          color: #fff;
          border-radius: 25%; }
        .landscape .main-menu .upper-context .items .menu-item .label {
          display: inline-block;
          font-family: "Vidaloka-Regular";
          font-size: 4vw;
          color: #fff;
          text-align: center;
          width: auto; }
  .landscape .main-menu footer {
    display: block;
    text-align: center;
    font-family: "Vidaloka-Regular";
    font-size: 3vw;
    color: #9E9E9E; }
    .landscape .main-menu footer p {
      margin: 0 auto;
      line-height: 125%; }
.landscape .content-container {
  margin-top: 15vh;
  padding-bottom: 2.75vw;
  position: relative;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  .landscape .content-container .search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2.75vw 5.5vw;
    position: relative;
    z-index: 99;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
    .landscape .content-container .search-container .search-box {
      display: inline-flex;
      vertical-align: middle;
      width: calc(100% - 7vw);
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
      .landscape .content-container .search-container .search-box i {
        display: inline-flex;
        vertical-align: middle;
        font-size: 2.5vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #9E9E9E;
        margin-right: 2vw; }
      .landscape .content-container .search-container .search-box input[type="text"] {
        display: inline-block;
        background: none;
        border: none;
        border-radius: 0;
        outline: 0;
        font-family: "Vidaloka-Regular", serif;
        font-size: 3vw;
        font-weight: normal;
        color: #000;
        padding: 0;
        line-height: 125%;
        width: calc(100% - 6.5vw); }
        .landscape .content-container .search-container .search-box input[type="text"]::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #000;
          opacity: 1;
          /* Firefox */ }
        .landscape .content-container .search-container .search-box input[type="text"]:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: #000; }
        .landscape .content-container .search-container .search-box input[type="text"]::-ms-input-placeholder {
          /* Microsoft Edge */
          color: #000; }
    .landscape .content-container .search-container .search-results {
      display: block;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      background: #ecf0f1;
      padding-left: 5vw;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      overflow: hidden;
      -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
      .landscape .content-container .search-container .search-results .search-result {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        outline: 0;
        color: #111;
        padding: 1vw 0;
        border-bottom: 2px solid #9E9E9E;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
        .landscape .content-container .search-container .search-results .search-result:last-of-type {
          border-bottom: none; }
          .landscape .content-container .search-container .search-results .search-result:last-of-type:hover {
            border: none; }
        .landscape .content-container .search-container .search-results .search-result:hover {
          border-bottom: 2px solid #2196f3; }
        .landscape .content-container .search-container .search-results .search-result .title {
          display: inline-block;
          font-family: "Vidaloka-Regular", serif;
          font-size: 2.25vw;
          font-weight: normal;
          width: calc(100% - 6vw); }
        .landscape .content-container .search-container .search-results .search-result .color {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          vertical-align: middle;
          width: 4vw;
          height: 4vw;
          border-radius: 25%;
          font-size: 2vw;
          color: #fff; }
    .landscape .content-container .search-container .logo-anchor {
      display: inline-block;
      width: 5vw;
      text-align: center;
      outline: 0;
      text-decoration: none;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
      .landscape .content-container .search-container .logo-anchor img {
        display: block;
        margin: 0 auto;
        border-radius: 25%; }
  .landscape .content-container .intro-container {
    display: block;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: calc(100% - 11vw);
    height: 60vh;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
    .landscape .content-container .intro-container .overlay {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 9;
      background: rgba(0, 0, 0, 0.7);
      border-radius: 10px; }
      .landscape .content-container .intro-container .overlay .avatar {
        display: block;
        width: 25vw;
        max-width: 180px;
        border-radius: 100%;
        margin: 0 3vw 0 0;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
      .landscape .content-container .intro-container .overlay .name {
        display: block;
        position: relative;
        font-family: "Vidaloka-Regular", serif;
        font-size: 8vw;
        font-weight: normal;
        color: #fff;
        text-align: left;
        margin: 0;
        width: 35%;
        line-height: 125%;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
      .landscape .content-container .intro-container .overlay .quote {
        display: none;
        position: relative;
        font-family: "Vidaloka-Regular", serif;
        font-size: 7vw;
        font-weight: normal;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        line-height: 125%;
        margin-top: 0.25vw;
        padding-top: 0.25vw;
        border-top: 3px solid #9E9E9E; }
  .landscape .content-container .padding-side {
    padding-left: 5.5vw;
    padding-right: 5.5vw; }
  .landscape .content-container .padding-cross {
    padding-top: 5.5vw;
    padding-bottom: 5.5vw; }
  .landscape .content-container .section {
    margin-bottom: 2.75vw;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
    .landscape .content-container .section:last-of-type {
      margin: 0; }
    .landscape .content-container .section.latest-articles, .landscape .content-container .section.latest-projects {
      margin-bottom: 0.5vw; }
    .landscape .content-container .section h1,
    .landscape .content-container .section h2 {
      font-family: "Vidaloka-Regular", serif;
      font-weight: normal;
      font-size: 4vw;
      margin: 1vw auto 0.5vw;
      line-height: 125%;
      color: #111;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
      .landscape .content-container .section h1.section-title,
      .landscape .content-container .section h2.section-title {
        margin: 0 auto 0.5vw; }
    .landscape .content-container .section .invisible-anchor {
      text-decoration: none;
      outline: 0; }
  .landscape .content-container .text-content {
    display: block;
    color: #111;
    padding: 0 5.5vw; }
    .landscape .content-container .text-content h1,
    .landscape .content-container .text-content h2,
    .landscape .content-container .text-content h3,
    .landscape .content-container .text-content h4,
    .landscape .content-container .text-content h5,
    .landscape .content-container .text-content h6 {
      font-family: "Vidaloka-Regular", serif;
      font-weight: normal;
      margin: 1vw auto 0.5vw;
      line-height: 125%;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
    .landscape .content-container .text-content h1,
    .landscape .content-container .text-content h2 {
      font-size: 4vw; }
    .landscape .content-container .text-content h3 {
      font-size: 3.5vw; }
    .landscape .content-container .text-content h4 {
      font-size: 3vw; }
    .landscape .content-container .text-content h5,
    .landscape .content-container .text-content h6 {
      font-size: 2.75vw; }
    .landscape .content-container .text-content p {
      font-family: "OpenSans-Regular", sans-serif;
      font-size: 2vw;
      margin: 0 auto 0.5vw;
      line-height: 175%;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
      .landscape .content-container .text-content p:last-of-type {
        margin: 0 auto; }
    .landscape .content-container .text-content a {
      display: inline-block;
      vertical-align: baseline;
      color: #2196f3;
      text-decoration: none;
      font-size: 2vw; }
      .landscape .content-container .text-content a:hover {
        color: #2962FF; }
    .landscape .content-container .text-content img {
      display: block;
      margin: 0 auto 0.5vw;
      border-radius: 10px;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
    .landscape .content-container .text-content ol,
    .landscape .content-container .text-content ul {
      font-family: "OpenSans-Regular", sans-serif;
      font-size: 2vw;
      margin: 0 auto 0.5vw;
      padding: 0 5.5vw 0;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
    .landscape .content-container .text-content blockquote {
      font-family: "Vidaloka-Regular", serif;
      font-size: 2.25vw;
      font-weight: normal;
      margin: 0 auto 0.5vw;
      padding: 1vw 2vw;
      background: #BDBDBD;
      border-radius: 10px;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
      .landscape .content-container .text-content blockquote p {
        font-family: "Vidaloka-Regular", serif;
        font-size: 2.25vw;
        font-weight: normal; }
  .landscape .content-container .latest-articles .articles-container {
    padding: 0 5.5vw 2vw;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
    .landscape .content-container .latest-articles .articles-container .invisible-anchor {
      display: inline-block;
      width: 55%;
      color: #111;
      margin-right: 5.5vw;
      vertical-align: top;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
      .landscape .content-container .latest-articles .articles-container .invisible-anchor:last-of-type {
        margin: 0; }
      .landscape .content-container .latest-articles .articles-container .invisible-anchor .article-banner {
        display: block;
        margin: 0 auto 0.5vw;
        object-fit: cover;
        border-radius: 10px;
        width: 100%;
        height: 55vh;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        transform: translateY(0) translateZ(0);
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
      .landscape .content-container .latest-articles .articles-container .invisible-anchor .article-title {
        font-family: "Vidaloka-Regular", serif;
        font-weight: normal;
        font-size: 2.5vw;
        margin: 0 auto;
        line-height: 125%;
        word-break: break-word;
        white-space: normal;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
  .landscape .content-container .latest-projects .projects-container {
    padding: 0 5.5vw 2vw;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
    .landscape .content-container .latest-projects .projects-container .invisible-anchor {
      display: inline-block;
      width: 30%;
      color: #111;
      margin-right: 5.5vw;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
      .landscape .content-container .latest-projects .projects-container .invisible-anchor:last-of-type {
        margin: 0; }
    .landscape .content-container .latest-projects .projects-container .project-banner {
      display: block;
      margin: 0 auto 1vw;
      object-fit: cover;
      border-radius: 100%;
      width: 100%;
      height: 26.7vw;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      transform: translateY(0) translateZ(0);
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
    .landscape .content-container .latest-projects .projects-container .project-title {
      font-family: "Vidaloka-Regular", serif;
      font-weight: normal;
      font-size: 2.5vw;
      margin: 0 auto;
      line-height: 125%;
      text-align: center;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
  .landscape .content-container .links .links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    .landscape .content-container .links .links-container .invisible-anchor {
      display: inline-flex;
      width: 49%;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      border: 2px solid #2d3436;
      border-radius: 100px;
      padding: 1vw 1.5vw;
      position: relative;
      margin-bottom: 1vw;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
      .landscape .content-container .links .links-container .invisible-anchor:hover {
        background: #E0E0E0; }
      .landscape .content-container .links .links-container .invisible-anchor:nth-last-of-type(1), .landscape .content-container .links .links-container .invisible-anchor:nth-last-of-type(2) {
        margin-bottom: 0; }
      .landscape .content-container .links .links-container .invisible-anchor .link-icon {
        display: inline-block;
        margin: 0;
        max-width: 42px; }
      .landscape .content-container .links .links-container .invisible-anchor .link-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        font-family: "Vidaloka-Regular", serif;
        font-size: 2.5vw;
        font-weight: normal;
        color: #111;
        margin: 0;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
  .landscape .content-container .posts-container,
  .landscape .content-container .projects-posts-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 5.5vw; }
    .landscape .content-container .posts-container .article,
    .landscape .content-container .posts-container .project,
    .landscape .content-container .projects-posts-container .article,
    .landscape .content-container .projects-posts-container .project {
      display: inline-block;
      vertical-align: top;
      width: 48%;
      margin-bottom: 2.75vw; }
      .landscape .content-container .posts-container .article:last-of-type,
      .landscape .content-container .posts-container .project:last-of-type,
      .landscape .content-container .projects-posts-container .article:last-of-type,
      .landscape .content-container .projects-posts-container .project:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none; }
      .landscape .content-container .posts-container .article.project,
      .landscape .content-container .posts-container .project.project,
      .landscape .content-container .projects-posts-container .article.project,
      .landscape .content-container .projects-posts-container .project.project {
        width: 31%;
        margin-bottom: 2.75vw;
        padding-bottom: 0;
        border: none; }
        .landscape .content-container .posts-container .article.project:nth-last-of-type(1), .landscape .content-container .posts-container .article.project:nth-last-of-type(2), .landscape .content-container .posts-container .article.project:nth-last-of-type(3),
        .landscape .content-container .posts-container .project.project:nth-last-of-type(1),
        .landscape .content-container .posts-container .project.project:nth-last-of-type(2),
        .landscape .content-container .posts-container .project.project:nth-last-of-type(3),
        .landscape .content-container .projects-posts-container .article.project:nth-last-of-type(1),
        .landscape .content-container .projects-posts-container .article.project:nth-last-of-type(2),
        .landscape .content-container .projects-posts-container .article.project:nth-last-of-type(3),
        .landscape .content-container .projects-posts-container .project.project:nth-last-of-type(1),
        .landscape .content-container .projects-posts-container .project.project:nth-last-of-type(2),
        .landscape .content-container .projects-posts-container .project.project:nth-last-of-type(3) {
          margin-bottom: 0;
          padding-bottom: 0; }
        .landscape .content-container .posts-container .article.project .thumbnail,
        .landscape .content-container .posts-container .project.project .thumbnail,
        .landscape .content-container .projects-posts-container .article.project .thumbnail,
        .landscape .content-container .projects-posts-container .project.project .thumbnail {
          border-radius: 100%;
          width: 80%;
          height: 22.1vw;
          margin-bottom: 1vw; }
        .landscape .content-container .posts-container .article.project .title,
        .landscape .content-container .posts-container .project.project .title,
        .landscape .content-container .projects-posts-container .article.project .title,
        .landscape .content-container .projects-posts-container .project.project .title {
          text-align: center;
          font-size: 2.25vw; }
      .landscape .content-container .posts-container .article .invisible-anchor,
      .landscape .content-container .posts-container .project .invisible-anchor,
      .landscape .content-container .projects-posts-container .article .invisible-anchor,
      .landscape .content-container .projects-posts-container .project .invisible-anchor {
        display: block;
        color: #111;
        padding: 0; }
      .landscape .content-container .posts-container .article .date,
      .landscape .content-container .posts-container .project .date,
      .landscape .content-container .projects-posts-container .article .date,
      .landscape .content-container .projects-posts-container .project .date {
        display: block;
        font-family: "Vidaloka-Regular", serif;
        font-size: 2vw;
        margin-bottom: 0.5vw;
        padding: 0;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
      .landscape .content-container .posts-container .article .thumbnail,
      .landscape .content-container .posts-container .project .thumbnail,
      .landscape .content-container .projects-posts-container .article .thumbnail,
      .landscape .content-container .projects-posts-container .project .thumbnail {
        display: block;
        margin: 0 auto 0.5vw;
        object-fit: cover;
        border-radius: 10px;
        width: 100%;
        height: 50vh;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        transform: translateY(0) translateZ(0);
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
      .landscape .content-container .posts-container .article .title,
      .landscape .content-container .posts-container .project .title,
      .landscape .content-container .projects-posts-container .article .title,
      .landscape .content-container .projects-posts-container .project .title {
        font-family: "Vidaloka-Regular", serif;
        font-weight: normal;
        font-size: 3vw;
        margin: 0 auto 0.5vw;
        line-height: 125%;
        padding: 0;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
      .landscape .content-container .posts-container .article .excerpt,
      .landscape .content-container .posts-container .project .excerpt,
      .landscape .content-container .projects-posts-container .article .excerpt,
      .landscape .content-container .projects-posts-container .project .excerpt {
        font-family: "OpenSans-Regular", sans-serif;
        font-weight: normal;
        font-size: 2vw;
        color: #111;
        padding: 0;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
  .landscape .content-container .single-article-container .post-thumbnail-container {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 1vw;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
    .landscape .content-container .single-article-container .post-thumbnail-container .thumbnail {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 70vh;
      border-radius: 10px;
      object-fit: cover;
      position: relative;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
    .landscape .content-container .single-article-container .post-thumbnail-container .overlay {
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      width: calc(100% - 11vw);
      background: rgba(0, 0, 0, 0.7);
      padding: 2vw 3vw;
      transform: translateX(-50%);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
      .landscape .content-container .single-article-container .post-thumbnail-container .overlay .post-header {
        display: block;
        margin: 0 auto 0.5vw;
        padding-bottom: 0.5vw;
        font-family: "Vidaloka-Regular", serif;
        font-weight: normal;
        font-size: 3vw;
        color: #fff;
        line-height: 125%;
        border-bottom: 3px solid #9E9E9E;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
      .landscape .content-container .single-article-container .post-thumbnail-container .overlay .date {
        display: block;
        margin: 0 auto;
        font-family: "Vidaloka-Regular", serif;
        font-weight: normal;
        font-size: 2vw;
        color: #fff;
        line-height: 125%;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
  .landscape .content-container .single-project-container .post-thumbnail-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vw;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
    .landscape .content-container .single-project-container .post-thumbnail-container .thumbnail {
      display: inline-block;
      width: 15vw;
      height: 15vw;
      border-radius: 100%;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
    .landscape .content-container .single-project-container .post-thumbnail-container .info {
      width: calc(100% - 17vw);
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
      .landscape .content-container .single-project-container .post-thumbnail-container .info .post-header {
        font-family: "Vidaloka-Regular", serif;
        font-size: 3.75vw;
        font-weight: normal;
        color: #111;
        margin: 0 auto 0.5vw;
        padding-bottom: 0.5vw;
        line-height: 125%;
        border-bottom: 3px solid #9E9E9E;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
      .landscape .content-container .single-project-container .post-thumbnail-container .info .date {
        font-family: "Vidaloka-Regular", serif;
        font-size: 2.5vw;
        font-weight: normal;
        color: #111;
        margin: 0 auto;
        line-height: 125%;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
  .landscape .content-container .contactme-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap; }
    .landscape .content-container .contactme-container input[type="text"],
    .landscape .content-container .contactme-container input[type="email"] {
      display: inline-block;
      width: 49%;
      padding-top: 0 !important; }
    .landscape .content-container .contactme-container select {
      display: block;
      width: 100%;
      margin: 0 auto; }
    .landscape .content-container .contactme-container textarea {
      display: block;
      width: 100%;
      min-height: 35vh;
      margin: 0 auto;
      resize: vertical; }
    .landscape .content-container .contactme-container button {
      display: block;
      width: auto;
      margin: 1vw auto 0;
      background: none;
      border: 2px solid #2d3436;
      border-radius: 100px;
      box-shadow: none;
      outline: 0;
      text-align: center;
      padding: 1vw 2vw;
      cursor: pointer;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
      .landscape .content-container .contactme-container button:hover {
        background: #2196f3;
        color: #fff;
        border: 2px solid #2196f3; }
      .landscape .content-container .contactme-container button:disabled {
        cursor: default;
        background: none;
        color: #111;
        border: 2px solid #2d3436; }
    .landscape .content-container .contactme-container .message {
      display: block;
      width: 100%;
      margin: 1vw auto 0;
      text-align: center;
      font-family: "OpenSans-Regular", sans-serif;
      font-weight: normal;
      color: #2d3436;
      font-size: 1.5vw;
      line-height: 150%;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
    .landscape .content-container .contactme-container input[type="text"],
    .landscape .content-container .contactme-container input[type="email"],
    .landscape .content-container .contactme-container select,
    .landscape .content-container .contactme-container textarea,
    .landscape .content-container .contactme-container button {
      font-family: "Vidaloka-Regular", serif;
      font-size: 2.75vw;
      font-weight: normal;
      color: #111; }
    .landscape .content-container .contactme-container input[type="text"],
    .landscape .content-container .contactme-container input[type="email"],
    .landscape .content-container .contactme-container select,
    .landscape .content-container .contactme-container textarea {
      border: none;
      border-bottom: 2px solid #2d3436;
      background: none;
      border-radius: 0;
      line-height: 125%;
      outline: 0;
      padding: 1vw 0;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
      .landscape .content-container .contactme-container input[type="text"]::placeholder,
      .landscape .content-container .contactme-container input[type="email"]::placeholder,
      .landscape .content-container .contactme-container select::placeholder,
      .landscape .content-container .contactme-container textarea::placeholder {
        color: #111; }
      .landscape .content-container .contactme-container input[type="text"]:focus,
      .landscape .content-container .contactme-container input[type="email"]:focus,
      .landscape .content-container .contactme-container select:focus,
      .landscape .content-container .contactme-container textarea:focus {
        border-bottom: 2px solid #2196f3; }

/*# sourceMappingURL=mobile-landscape.css.map */
